
/* =============================================================================
#TYPOGRAPHY
============================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.heading h1 {
    font-size: 32px;
    font-weight: bold; 


    color: hsl(300, 43%, 22%);
}
/* =============================================================================
#GENERAL
============================================================================= */
body {
    background-color: white;
}

main {
    padding: 20px;
}

/* =============================================================================
#CONTENT
============================================================================= */

.heading h1 {
    padding: 30px;
    text-align: center;
}

.heading p {
    color: hsl(303, 10%, 53%);

    font-weight: bold;
    text-align: center;
    line-height: 18px;
    
    padding: 0px  10px;
}

.ratings {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ratings section {
    background-color: hsl(300, 24%, 96%);
    background-image: url(images/icon-star.svg) ;
    background-repeat: repeat-x;

    width: 46px;
    padding: 20px 80px;

    gap: 50px;
}

.ratings p {
    text-align: center;
}