
/* =============================================================================
#TYPOGRAPHY
============================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.heading h1 {
    font-size: 32px;
    font-weight: bold; 


    color: hsl(300, 43%, 22%);
}

.ratings{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}
/* =============================================================================
#GENERAL
============================================================================= */
body {
    background-color: white;
    align-items: center;
}

main {
    padding: 20px;
}

/* =============================================================================
#CONTENT
============================================================================= */

.heading h1 {
    padding: 30px;
    text-align: center;
}

.heading p {
    color: hsl(303, 10%, 53%);

    font-weight: bold;
    text-align: center;
    line-height: 18px;
    
    padding: 0px  10px;
}

.ratings {
    /* display: flex;
    align-items: center;
    flex-direction: column; */

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.ratings section {
    background-color: hsl(300, 24%, 96%);
    /* background-image: url(images/icon-star.svg) ;
    background-repeat: repeat-x; */

    /* width: 46px; */
    padding: 20px 80px;

    border-radius: 10px;
}


.ratings p {
    text-align: center;
}


.ratings img {
    align-content: center;
    justify-content: center;
}

.last-rating  {
    margin-bottom: 40px;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    color: white;

    border-radius: 10px;

    /* padding: 5px; */
}

    .reviews section {
        background-color: hsl(300, 43%, 22%);

        border-radius: 10px;

        height: 160px;

        padding: 20px;
    }

    .buyers {
        /* display: flex;
        flex-direction: row;
        justify-content: center; */

        text-align: center;

        margin-bottom: 26px;
    }

    /* .buyers span {
        display: flex;
        flex-direction: column;
    } */

    .reviews img {
        border-radius: 50%;

        height: 50px;
        width: 50px;
    }

    .reviews span {
        color: hsl(333, 80%, 67%);
    }

    .reviews picture {
        height: 50px;
    }